.App {
  text-align: center;
  margin: 4rem 0;
}

.lista-cuentas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.lista-cuentas li {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 5px;
  min-width: 400px;
}

.contenedor-contraseñas {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nombre-cuenta {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin-bottom: 20px;
}

.icon-update,
.icon-delete {
  cursor: pointer;
  margin: 0 .5rem;
}

.usuario-cuenta,
.contraseña-cuenta {
  display: flex;
}

.titulo-usuario,
.titulo-contraseña {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 20px 10px;
  
}

.div-icono-usuario,
.div-icono-contraseña,
.icono-web {
  display: flex;
  text-align: center;
  font-size: 1.8rem;
}

.btn-descargar {
  background: #1f1f1f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .4rem 1rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.btn-descargar:hover {
  background: #0a0a0a;
}

.btn-atualizar-edit {
  background: #177f4f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .4rem 1rem;
  margin: 0 .5rem;
  cursor: pointer;
  max-width: 100px;
}

.btn-atualizar-edit:hover {
  background: #146b45;
}

.btn-cancelar-edit,
.btn-cancelar {
  background: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .4rem 1rem;
  margin: 0 .5rem;
  cursor: pointer;
  max-width: 100px;
}

.btn-cancelar-edit:hover,
.btn-cancelar:hover {
  background: #c00;
}